body
{
    background-color: aqua;
    display: flex;
    margin: auto;
    justify-content: center;
}
.site

{
     background-color: white;
    position: relative;
    align-items: center;
    width: 600px;
    margin: auto;

    background-position: center top;
    

   
}
.container {
    
    display: inline-block;
align-items: center;
text-align: center;
padding: 2rem;
gap: 2.4rem;

}
.btn {
 border: 1px solid black;
 border-radius: 4px;
 padding: 12px;
 gap: 10px;
 background-color: white;

 
}
a{
     text-decoration: none;
     color: black;
}
p{
     font-family: "Noto Sans";
    
}
.section1
{
    padding: 16px;
   
}
#s1{
    display: flex;
}
#child1_s1
{
    width: 50%;
}
#child2_s1
{
    width: 50%;
}
.lastWord{
padding: 30px;
}
.alt-text{
    font-family: "Apercu Pro";
    font-size: 20px;
}
footer{
    padding: 20px;
    text-align: center;
    font-size: 13;
}

.footer_icons{
    padding: 20px;
}
.ft_icons
{
    gap: 26px;
}
.footer_lastword
{
    width: 400px;
    display: inline;
    text-align: center;
}

@media only screen 
and (max-width : 320px) {
.site
{ 
   
    
    width: auto; 
    
    
   
}

}