
.site
{
    position: relative;
    align-items: center;
    width: 600px;
    border: 1px solid black;
    margin: auto;
}
.container {
    
    display: inline-block;
align-items: center;
text-align: center;
padding: 20px;
gap: 24px;

}
.btn {
 border: 1px solid black;
 border-radius: 4px;
 padding: 12px;
 gap: 10px;
 background-color: white;

 
}
a{
     text-decoration: none;
     color: black;
}
p{
     font-family: "Noto Sans";
     
}
.section1
{
    padding: 16px;
}
#s1{
    display: flex;
}
#child1_s1
{
    width: 50%;
}
#child2_s1
{
    width: 50%;
}
.lastWord{
padding: 30px;
}
.alt-text{
    font-family: "Apercu Pro";
    font-size: 20px;
}
footer{
    padding: 20px;
    text-align: center;
    font-size: 13;
}